<!-- <div *ngIf="!work; else divWorks" class="alert alert-info">
    Cargando...
</div> -->

<ng-template #divWorks>
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column">
                <p *ngfor="let title of work.title">{{title}}</p>
                <div class="d-flex">
                    <span *ngfor="let subject of work.subject">{{subject}}</span>
                </div>
                <div class="flex">
                    <span *ngfor="let ISSN of work.ISSN">{{ISSN}}</span>
                </div>
                <div *ngfor="let author of work.author">
                    <!-- <div class="flex">
                        <span>Affiliation(s):</span>
                        <span *ngfor="affiliation of author">{{}}</span>
                    </div> -->
                    <span>Family: {{author.family}}</span>
                    <span>Given: {{author.given}}</span>
                    <span>Sequence: {{author.sequence}}</span>
                </div>

                <span *ngfor="let domain of work.container-title">Domain: {{domain}}</span>
                <span>Member {{work.member}}</span>
                <span>Page {{work.page}}</span>
                <span>Prefix {{work.prefix}}</span>

                <!-- <span>Number of References: `${{{work.reference-count}}}` </span> -->
                <a [href]="work.resource.primary">Full Article</a>


            </div>
        </div>
    </div>
</ng-template>